<div class="navbar navbar-fixed-top ">
    <div class="navbar-inner">
        <div class="container ">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <!-- Be sure to leave the brand out there if you want it shown -->
             <%= link_to (image_tag "pixelove.png", class: "logo"), root_path, class: "brand" %>
            
            <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="nav-collapse">
                    
                    <ul class="nav pull-right">
                        
                        <% if user_signed_in? %>
                            <li><%= link_to 'Pin +', new_pin_path %> </li>
                            <li><%= link_to 'Edit Profile',  edit_user_registration_path %></li>
                            <li><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>
                        <% else %>
                            <li><%= link_to 'Login',  new_user_session_path %></li>
                        <% end %>

                    </ul>
                </div>


        </div>
    </div>
    <div id="categories">
            <div class="container">
                <ul class="nav categories">
                    <li> <%= link_to 'PAGE LAYOUTS'%>  </li>
                    <li> <%= image_tag "spacer.png", class: "spacer" %> </li>
                    <li>  <%= link_to 'USER FLOWS'%>  </li>
                    <li> <%= image_tag "spacer.png", class: "spacer" %> </li>
                    <li>  <%= link_to 'COMPONENTS'%> </li>
                    <li> <%= image_tag "spacer.png", class: "spacer" %> </li>
                    <li>  <%= link_to 'STYLES'%> </li>
                    <li> <%= image_tag "spacer.png", class: "spacer" %> </li>
                    <li>  <%= link_to 'INTERACTIVE'%> </li>
                </ul>  
            
            <!-- SEARCH BAR 
            <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder="What are you looking for?">
            </form>
            -->
            </div>
    </div>   

</div>




